{% extends "base.html" %}

{% block ss %}

{% endblock %}
{% block title %}Wordwalls - Multiplayer{% endblock %}

{% block jquery_js %}{% endblock %}

{% block navbar %}{% endblock %}

{% block content %}

<div class="lobby">
    <div class="tables"></div>
    <div class="lobby-chat"></div>
</div>
<div class="table-main">
    <div class="table-controls"></div>
    <svg class="table-svg"></svg>
    <div class="input-group">
        <span class="input-group-addon" id="guess-addon">Guess:</span>
        <input type="text" class="form-control guess-text" aria-describedby="guess-addon">
    </div>
    <div class="table-chat"></div>
</div>


<script>
var require = {
  config: {

  }
};
</script>
<script src="/static/lib/require/require-min.js"></script>
<script>
require.config({
    {% if DEBUG_JS %}
        paths: {
            "main": "/static/js/wordwalls_mp/main"
        }

    {% else %}
        urlArgs: 'v={{CURRENT_VERSION}}',
        paths: {
            "main": "/static/build/wordwalls-mp-built"
        }
    {% endif %}
});
require(["main"]);
</script>




{% endblock %}