#gameBoard 
{
    width: 860px;
    height: 400px;
    padding-top: 15px;
    float: left;
}

#textBar
{
    margin-top: 10px;
    width: 875px;
}

div#messages
{
    float: left;
    width: 700px;
    height: 100px;
    border-style: inset;
    border-width: 1px;
    margin-right: 25px;
    overflow-y: auto;
    font-size: 80%;
}

#topEncloser
{
    width: 1015px;
    height: 415px;
}


#playerRanks
{
    width:145px;
    height:200px;
    float: right;
}

#userBox
{
    width:155px;
    height:160px;
    margin-top: 10px;
    float: right;
}

#avatarLabel
{
    display: inline-block;
    width: 40px;
    height: 40px;

    float: left;
}

#usernameLabel
{
    display: inline-block;
    width: 70px;
    height: 20px;
    margin-top: 20px;
    overflow-x: hidden;
    font-size: 80%;
    float: left;
}


#pointsLabelPercent
{
    display: inline-block;
    width: 40px;
    height: 20px;
    overflow-x: hidden;
    font-size: 80%;
    font-weight: 700;
}
#pointsLabelFraction
{
    display: inline-block;
    width: 40px;
    height: 20px;
    overflow-x: hidden;
    font-size: 80%;
    font-weight: 700;
    
}

#correctAnswers
{
    width: 150px;
    height: 115px;
    border-style: inset;
    border-width: 1px;
    overflow-y: auto;
    font-size: 80%;
    text-align: center;
}

#netbookBorders
{
    position: fixed; 
    left: 0; top: 0;
    width: 1024px; height: 600px;
    border-color: black;
    border: 1px dotted;
    z-index: -10;
   /* display: none;*/
}