*.pyc
*.tmproj
settings_local.py
settings_local_prod.py
*~
dbCreator-build-desktop
dbCreator.pro.user*
gunicorn.log
words/*.trie
words/*.txt
node/node_modules/*
djAerolith/static/img/avatars/*
wordsdir/
djAerolith/logs
*.sublime-workspace
*.sublime-project
namedLists.json
r.js
djAerolith/static/build/*