*.pyc
*~
gunicorn.log
node_modules
djAerolith/static/img/avatars/*
*.sublime-workspace
namedLists.json
djAerolith/static/build/*
djAerolith/static/built/*
*.mo
config/config.env
config/local_config.env
config/prod_config.env
config/dev_config.env
*.DS_Store
npm-debug.log
yarn-error.log
djAerolith/static/dist/*
kubernetes/secrets-*.yaml
kubernetes/webolith_static/*
kubernetes/*.key
kubernetes/*.crt
kubernetes/deploy-configs/dev-*.yaml
kubernetes/deploy-configs/prod-*.yaml
.coverage
djAerolith/htmlcov
vars.sh
coverage
__pycache__
.vscode
words
wordsdir