*.pyc
settings_local.py
settings_local_prod.py
*~
gunicorn.log
words/*.trie
words/*.txt
node_modules
djAerolith/static/img/avatars/*
wordsdir/
djAerolith/logs
*.sublime-workspace
namedLists.json
djAerolith/static/build/*
djAerolith/static/built/*
dump.rdb
db/*.db
*.mo
*.gaddag
*.dawg
config/config.env
config/local_config.env
config/prod_config.env
config/dev_config.env
*.DS_Store
npm-debug.log
yarn-error.log
djAerolith/static/dist/*
kubernetes/secrets-*.yaml
kubernetes/webolith_static/*
kubernetes/*.key
kubernetes/*.crt
kubernetes/deploy-configs/dev-*.yaml
kubernetes/deploy-configs/prod-*.yaml
.coverage
djAerolith/htmlcov
vars.sh
coverage
__pycache__