{% extends "base.html" %}

{% load assets %}

{% block ss%}

{% assets "base_css" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}

{% assets "jquery_css" %}
   <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}

{% assets "css_wordgrids_table_create" %}
   <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}


{% endblock %}

{% block title %}Wordwalls - select list{% endblock %}

{% block content %}

{% assets "js_wordgrids_table_create" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}

<P></P>
<div id="lexForm">
    {{lexForm.as_p}}
</div>

<div id="listTabs">
    <ul>
        <li><a href="#tabs-1">Play WordDash (Beginner)</a></li>
        <li><a href="#tabs-2">Play WordStruck (Advanced)</a></li>     
    </ul>
    <div id="tabs-1">
        Please wait, WordDash is coming soon...
        
    </div>
    <div id="tabs-2">
        <H3>Play against other players:</H3>
        <P><button class="ws_" id="multi1">7x7</button></P>
        <P><button class="ws_" id="multi2">9x9</button></P>
        <P><button class="ws_" id="multi3">11x11</button></P>
        <H3>Or play solo:</H3>
        <P><button class="ws_" id="solo1">Solo</button></P>
    
    </div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
        initializeTableCreator("{% url wordgrids_create_table %}");
        $("#id_lexicon option[value='{{defaultLexicon.pk}}']").attr('selected', 'selected');
        $("#listTabs").tabs();
        $(".ws_").button();
        
        $("#multi1").click(multi1clicked);
        $("#multi2").click(multi2clicked);
        $("#multi3").click(multi3clicked);
        
        $("#solo1").click(solo1clicked);
    });
    $
</script>

{% endblock %}