<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
"http://www.w3.org/TR/html4/strict.dtd">
<head>
<title>WordGrids - table {{tablenum}}</title>

{% load assets %}
{% assets "css_wordgrids_table" %}
    <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
{% endassets %}


</head>
<body>
{% block content %}

{% assets "js_wordgrids_table" %}
    <script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
 
 
<div id="topEncloser">
    <div id="gameBoard">
    </div>

    <div id="playerRanks">
    </div>

    <div id="userBox">
        <span id="avatarLabel"></span>
        <span id="usernameLabel">{{username}}</span>
        <span id="pointsLabelPercent"></span>
        <span id="pointsLabelFraction"></span>
        <div id="correctAnswers"></div>
    </div>
</div> 

<div id="textBar">
    <span id="chatLabel">Chat: </span><input type="text" name="Chat" size="127" id="chatInput">
    <div id="messages"></div>
</div>
 
 
 
 
 

<script type="text/javascript">
  $(document).ready(function() {
    initializeTable("{% url wordgrids_table tablenum %}", "{{username}}", "{{grid.letters}}");
    $("#chatInput").keypress(chatInputKeyHandler);
  });
</script>

{% endblock %}

<div id="netbookBorders">
</div>

</body>

