# These are the requirements for the prod Docker file.

django>=2.2,<2.3
six >= 1.7
Markdown
django-registration-redux
gargoyle-yplan
requests
django-recaptcha
# redis
jsonschema
social-auth-app-django
requests-oauthlib
psycopg2
PyYAML
PyJWT
gunicorn
# Not strictly a prod requirement. However, the main issue here
# is that we can't run tests in the docker container otherwise.
mock
wagtail
