# These are the requirements for the prod Docker file.

django>=1.8.0,<1.9.0
six >= 1.7
Markdown
django-registration-redux
gargoyle
gunicorn
requests==2.9.1
recaptcha-client
wsgiref
redis
jsonschema
python-social-auth==0.2.21
requests-oauthlib
python-openid
psycopg2
Fabric
PyYAML
