# These are the requirements for the prod Docker file.

django>=1.11
six >= 1.7
Markdown
django-registration-redux
gargoyle-yplan
gunicorn
requests
recaptcha-client
wsgiref
redis
jsonschema
python-social-auth==0.2.21
requests-oauthlib
python-openid
psycopg2
Fabric
PyYAML

# Not strictly a prod requirement. However, the main issue here
# is that we can't run tests in the docker container otherwise.
mock
