django==1.8.9
six >= 1.7
Fabric
Markdown
MySQL-python
django-registration-redux
gargoyle
markup
gunicorn
requests
pycrypto
python-dateutil
recaptcha-client
wsgiref
redis
supervisor
pystache
boto
mock
jsonschema
python-social-auth
