django==1.8.11
six >= 1.7
Fabric
Markdown
django-registration-redux
gargoyle
markup
gunicorn
pycrypto
requests==2.9.1
python-dateutil
recaptcha-client
wsgiref
redis
supervisor
pystache
boto
mock
jsonschema
python-social-auth
requests-oauthlib
python-openid
psycopg2
