BeautifulSoup==3.2.0
Django==1.5.5
Fabric==1.6.1
Markdown==2.3.1
MySQL-python==1.2.3
South==0.7.3
cssmin==0.1.4
django-registration==1.0
django-tagging==0.3.1
gargoyle==0.10.8
markup==0.2
gunicorn==18.0
paramiko==1.7.7.1
pycrypto==2.3
python-dateutil==2.0
recaptcha-client==1.0.6
webassets==0.5
wsgiref==0.1.2
redis==2.7.2
supervisor==3.0b1