{% extends "blog/base_blog.html" %}

{% load i18n %}

{% block title %}{{ object.title }}{% endblock %}
{% block body_class %}{{ block.super }} post_detail{% endblock %}
{% block body_id %}post_{{ object.id }}{% endblock %}

{% block content_title %}
  <h2>{{ object.title }}</h2>
{% endblock %}

{% block content %}
<div class="postdetail">
  {% include "blog/post_detail_post_only.html" %}
  {% load comments markup tagging_tags %}
  {% tags_for_object object as tag_list %}
  {% if tag_list %}
  <p class="inline_tag_list"><strong>{% trans "Related tags" %}:</strong>
    {{ tag_list|join:", " }}
  </p>
  {% endif %}
  {% get_comment_list for object as comment_list %}
  {% if comment_list %}
  <div id="comments">
    <a name="comments"></a>
    <h3 class="comments_title">{% trans "Comments" %}</h3>
    {% for comment in comment_list %}
      {% if comment.is_public %}
      <div class="comment">
        <h5 class="name">
            {{ comment.user.username }} ({{ comment.submit_date|date:"F j, Y @ P" }})
        </h5>
        {{ comment.comment|markdown:"safe" }}
      </div>
      {% endif %}
    {% endfor %}
  </div>
  {% endif %}
  {% if user.username == "" %}
  <P class="plzLogin">
    Please <a href="/accounts/login/?next={{object.get_absolute_url}}"}}>log in</a> to comment on this post!</P>
  {% else %}
      <H3>Comment on this post</H3>
      {% if object.allow_comments %}
        {% render_comment_form for object %}
      {% else %}
        <div id="comment_form">
          <h3>{% trans "Comments are closed" %}.</h3>
          <p>{% trans "Comments have been closed for this post" %}.</p>
        </div>
      {% endif %}
  {% endif %}
  <P>
  <a href="/blog">News/blog archive</a></P>
</div>

{% endblock %}