{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Aerolith login" %}
{% endblock %}


{% block content %}

{% if form.errors %}
<p>{% trans "Your username and password didn't match. Please try again." %}</p>
{% endif %}

<div class="row">
  <div class="col-sm-6">
    <a href="{% url 'social:begin' 'facebook' %}"><img src="/static/img/aerolith/login_with_facebook.png"></a><br><br>
    <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="/static/img/aerolith/login_with_google.png"></a><br><br>

    <p style="margin-top: 50px;">
    {% trans "Or use old login form" %}
    </p>
    <div class="old-login-form">
    <p></p>
    <form class="form-horizontal" role="form" method="post" action="{% url 'django.contrib.auth.views.login' %}">
     {% csrf_token %}

      <div class="form-group">
        <label for="input-username" class="col-sm-2 control-label">{% trans "Username" %}</label>
        <div class="col-sm-4">
          <input type="text" class="form-control" id="input-username" name="username" placeholder="Username">
        </div>
      </div>
      <div class="form-group">
        <label for="input-password" class="col-sm-2 control-label">{% trans "Password" %}</label>
        <div class="col-sm-4">
          <input type="password" class="form-control" name="password" id="input-password" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-4">
          <button type="submit" class="btn btn-default">{% trans "Sign in" %}</button>
        </div>
      </div>
    <input type="hidden" name="next" value="{{ next }}" />
    </form>
    <p style="font-size: 100%;"><a href="/accounts/password/reset">{% trans "Forget your password?" %}</a></p>
    </div>

  </div>



</div>






{% endblock %}

{% comment %} Aerolith 2.0: A web-based word game website
Copyright (C) 2011 Cesar Del Solar

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

To contact the author, please email delsolar at gmail dot com
{% endcomment %}