{% extends "base.html" %}
{% load i18n %}
{% block title %}
{% trans "Aerolith - Reset Password" %}
{% endblock %}


{% block content %}
<p>{% trans "Please enter your email address to receive password change instructions." %}</p>

<form class="form-horizontal" role="form" method="post" action=".">
    {% csrf_token %}
  {{ form.non_field_errors }}
  {{ form.email.errors }}
  <div class="form-group">
    <label for="id_email" class="col-sm-2 control-label">{% trans "Email" %}</label>
    <div class="col-sm-6">
        <input type="text" class="form-control" id="input-email" name="email">
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-6">
      <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
    </div>
  </div></form>

{% endblock %}
