{% extends "crosswordgame/crossword_base.html" %}



{% block content %}
<div class="row">
    <div class="span6">
        <div id="gameBoard"></div>
    </div>
    <div class="span6" id="analysis-area">
        <button class="btn btn-mini" type="button" id="back">Back</button>
        <button class="btn btn-mini" type="button" id="forward">Forward</button>
        <button type="button" class="btn btn-mini" data-toggle="collapse" data-target="#moveList">Move List</button>

        <div id="moveList" class="collapse">
            <div class="row">
                <div class="span3" id="player1moves"></div>
                <div class="span3" id="player2moves"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
var require = {
    config: {
        'main': {
            gamejson: {{gamejson|safe}}
        }
    }
}
</script>
<script src="/static/lib/require/require-min.js"></script>
<script>
require.config({
    {% if DEBUG_JS %}
        paths: {
            'main': '/static/js/crosswordgame/main'
        }
    {% else %}
        urlArgs = 'v={{CURRENT_VERSION}}',
        paths: {
            'main': '/static/build/crosswordgame-built'
        }
    {% endif %}
});
require(['main']);
</script>


{% endblock %}
