<!DOCTYPE html>
{% load value_from_settings %}
{% value_from_settings DEBUG as DEBUG %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <title>Aerolith Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="Aerolith Flashcards.">
    <meta name="author" content="Cesar Del Solar">
    <link href="/static/css/flashcards/cards.css" rel="stylesheet">

    <link href="/static/lib/bootstrap/css/bootstrap-slate.min.css" rel="stylesheet">
    <link href="/static/lib/tablesorter-theme.blackice.min.css" rel="stylesheet">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/cards">Aerolith Cards</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="#help" data-toggle="modal" data-target="#help-modal">Help</a></li>
            <li><a href="#newquiz">New Quiz</a></li>
            <li><a href="#continue">Continue Quiz</a></li>
            <li><a href="#lookupword" data-toggle="modal" data-target="#word-lookup-modal">Look up Word</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container" id="app-view">
      <div class="row">
        <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12 alert-holder"></div>
      </div>
        <!-- Contains the list of quizzes to continue from local and server -->
      <div id="quiz-selector"></div>
        <!-- The new quiz form -->
      <div id="card-setup"></div>
      <div id="card-spinner">
        <center><img src="/static/img/aerolith/dark_spinner.gif"/></center>
      </div>
      <div class="row" id="card-area">
        <div class="col-lg-12">
          <div class="row">
            <!-- The actual card  -->
            <div class="col-lg-5 col-md-6 col-sm-8 col-xs-12">
                <div id="header-info"></div>
                <div id="card"></div>
                <div id="footer-info"></div>
            </div>
            <!-- Info about previous cards, etc. -->
            <div class="clearfix visible-xs visible-sm"></div>
            <div class="col-lg-offset-1 col-lg-4 col-md-offset-1 col-md-4 col-sm-8 col-xs-12">
              <div id="prev-card-info"></div>
            </div>
          </div>
        </div>
      </div>
    </div> <!-- /container -->
    <!-- Modal -->
    <div class="modal fade" id="help-modal" tabindex="-1" role="dialog" aria-labelledby="help-modal-label" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h4 class="modal-title">Help</h4>
            </div>
            <div class="modal-body">
              {% include "flashcards/card_help.html" %}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


    <!-- Modal -->
    <div class="modal fade" id="word-lookup-modal" tabindex="-1" role="dialog" aria-labelledby="word-lookup-modal-label" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">Look up Word</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-lg-10">
                <form class="form-horizontal" role="form">

                  <!-- Lexicon -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="word-lookup-lexicon">Lexicon</label>
                    <div class="col-lg-9">
                      <select id="word-lookup-lexicon" class="form-control">
                        <option>NWL18</option>
                        <option>CSW19</option>
                        <option>FISE2</option>
                        <option>OSPS41</option>
                      </select>
                    </div>
                  </div>

                  <!-- Word input -->
                  <div class="form-group">
                    <label class="col-lg-3 control-label" for="word-lookup-letters">Letters</label>
                    <div class="col-lg-9">
                      <input type="text" id="word-lookup-letters" class="form-control">
                    </div>
                  </div>

                  <!-- Lookup button -->

                  <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                      <button type="button" class="btn btn-primary" id="word-lookup">Look up!</button>
                    </div>
                  </div>

                </form>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-10">
                <div id="lookup-results"></div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <script>
    var AppConfig = {
        'numCards': {{numCards}},
        'quizzes': "{{savedLists|escapejs}}"
    };
    </script>
{% if DEBUG %}
  <script src="{{STATIC_SRV}}/static/dist/node_vendors~flashcardsapp~wordwallsapp.js"></script>
  <script src="{{STATIC_SRV}}/static/dist/node_vendors~flashcardsapp.js"></script>
  <script src="{{STATIC_SRV}}/static/dist/flashcardsapp.js"></script>
{% else %}
  {% include "flashcards_dynamic/flashcards_include.html" %}
{% endif %}

  </body>
</html>
