<!DOCTYPE html>
{% load value_from_settings %}
{% value_from_settings DEBUG_JS as DEBUG_JS %}

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Aerolith Cards</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aerolith Flashcards. Flashcard words using the Leitner spaced repetition method.">
    <meta name="author" content="Cesar Del Solar">

    <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Aerolith Cards</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="#about">About</a></li>
              <li><a href="#contact">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">

        <H1>Flashcard Loader</H1>

        <div id="app-view">
          <div id="app-header"></div>
          <div id="loader">
            <label for="prob-low">Probability min<input class="small" name="prob-low" id="prob-low"></input></label>
            <label for="prob-high">Probability max<input class="small" name="prob-high" id="prob-high"></input></label>
            <label for="word-length">Word length<input class="small" name="word-length" id="word-length"></input></label>
            <label for="lexicon">Lexicon<input class="small" name="lexicon" id="lexicon"></input></label>
            <button type="button" class="btn" id="load-prob">Load By Probability</button>
          </div>
          <div id="card-area">


          </div>
          <button type="button" class="btn" id="get-cards">Get scheduled cards</button>
        </div>

    </div> <!-- /container -->

    <script>
    var require = {
        config: {
            'main': {
                'numCards': {{numCards}}
            }
        }
    }
    </script>
    <script src="/static/lib/require/require-min.js"></script>
    <script>
    require.config({
        {% if DEBUG_JS %}
            paths: {
                'main': '/static/js/flashcards/main'
            }
        {% else %}
            urlArgs: 'v={{CURRENT_VERSION}}',
            paths: {
                'main': '/static/build/flashcards-built'
            }
        {% endif %}
    });
    require(['main']);
    </script>

  </body>
</html>
