{% extends "base.html" %}
{% block title %}Edit {{profile.user.username}}'s profile{% endblock %}

{% block content %}
{% if profile.member %}
<div class="row">
You are currently a supporter; your membership expires on {{profile.membershipExpiry}}
</div>
{% else %}

{% endif %}
<form class="form-horizontal" role="form" method="post" action="{% url 'accounts_edit_profile' %}" style="margin-top: 20px;">{% csrf_token %}
  <div class="form-group">
    <label for="input-lexicon" class="col-sm-2 control-label">Default Lexicon</label>
    <div class="col-sm-4">
      {{ pForm.defaultLexicon }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-1">Enter up to 2000 characters of information about yourself to show on your profile. You may use <a href="http://en.wikipedia.org/wiki/Markdown" target="_blank">Markdown</a>.</div>
  </div>
  <div class="form-group">
    <label for="input-profile" class="col-sm-2 control-label">Your profile:</label>
    <div class="col-sm-10">
      {{ pForm.profileText }}
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="disableChat" id="id_disableChat"> Disable chat
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-default">Save Profile</button>
    </div>
  </div>
</form>
<p>
    <a href="/accounts/password/change">Password change form</a>
</p>
<script type="text/javascript">
  $(document).ready(function() {
    var addlData;
    try {
      addlData = JSON.parse("{{profile.additional_data|escapejs}}");
    } catch (e) {
      addlData = {disableChat: false};
    }
    $("#id_profileText").val("{{profile.profile|escapejs}}");
    $("#id_defaultLexicon option[value='{{profile.defaultLexicon.pk}}']").prop('selected', true);
    $('#id_disableChat').prop('checked', addlData.disableChat);
  });
  $("#id_profileText").css({'height': '300px', 'width': '500px'});
</script>

{% endblock %}