{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Preferences" %}{% endblock %}


{% block content_title %}<H3>{% trans "Preferences" %}</H3>{%endblock%}

{% block content %}
<div class="row">
<h4>{% trans "Associate/Remove Social Media Accounts" %}</h4>
    <div class="social-buttons"></div>
</div>
<div class="row">
<h4>{% trans "Saved List Manager" %}</h4>
<h5>{% trans "You can view and delete your old saved lists here. Be careful, as deleting a saved list is permanent!" %}</h5>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="table-responsive">
            <table id="list-table" class="table">
                <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Lexicon" %}</th>
                    <th>{% trans "Progress" %}</th>
                    <th>{% trans "Total questions" %}</th>
                    <th>{% trans "Last Saved" %}</th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
    <button type="button" class="btn btn-danger btn-sm" id="delete-lists">{% trans "Delete Selected Lists" %}</button>
    </div>
</div>
<script>
/* global $, JSON*/
$(function() {
    "use strict";
    var $socialButtons = $('.social-buttons');
    var service, imgUrl, href, assocId, discUrl;
    // backends comes from a context processor
    {% for assoc in backends.associated %}
        {% if assoc.provider == 'facebook' %}
            service = 'Facebook';
            assocId = {{assoc.id}};
            {% with id as assoc.id %}
            discUrl = '{% url 'social:disconnect_individual' 'facebook', id %}';
            {% endwith %}
        {% endif %}
        {% if assoc.provider == 'google-oauth2' %}
            service = 'Google';
            assocId = {{assoc.id}};
            {% with id as assoc.id %}
            discUrl = '{% url 'social:disconnect_individual' google id %}';
            {% endwith %}
        {% endif %}
        $socialButtons.append([
            '<div class="row" style="margin-bottom:10px;">',
            '<div class="col-sm-1">',
            service,
            '</div><div class="col-sm-1">',
            '<button class="btn btn-sm btn-default ',
            'disassoc-{{assoc.provider}}" data-disc-url="', discUrl,
            '">X</button></div></div>'
        ].join(''));
    {% endfor %}

    {% for assoc in backends.not_associated %}
        {% if assoc == 'facebook' %}
            imgUrl = "/static/img/aerolith/login_with_facebook.png";
            href = '{% url "social:begin" "facebook" %}';
        {% endif %}
        {% if assoc == 'google-oauth2' %}
            imgUrl = "/static/img/aerolith/login_with_google.png";
            href = '{% url "social:begin" "google-oauth2" %}';
        {% endif %}
        $socialButtons.append([
            '<p><a class="{{assoc}}-btn social-login" href="', href, '">',
            '<img src="', imgUrl, '"></a></p>'
        ].join(''));
    {% endfor %}

    $('.disassoc-facebook').click(function() {
        // alert('should disassociate facebook')

    });

    $('.disassoc-google-oauth2').click(function() {
        alert('should disassociate google')


    });

    function fetchListData() {
        $.get('/base/api/saved_lists/', {
            'temp': 0
        }, function(data) {
            data.lists.sort(function(a, b) {
                if (a.lastSaved > b.lastSaved) {
                    return -1;
                } else if (a.lastSaved < b.lastSaved) {
                    return 1;
                } else {
                    return 0;
                }
            });
            populateTable(data);
        }, 'json');
    }
    /**
     * Populates a table with list data.
     * @param  {Object} data
     */
    function populateTable(data) {
        $('#list-table tbody').empty();
        $.each(data.lists, function(idx, list) {
            var row = $('<tr/>');
            row.append([
                '<td>',
                '<input type="checkbox" class="del-checkbox" data-list-id="',
                list.id, '" style="margin-right:10px;"/> ',
                list.name, '</td>'
            ].join(''));
            row.append([
                '<td>', list.lexicon, '</td>'
            ].join(''));
            row.append([
                '<td>', list.questionIndex, '/', list.numCurAlphagrams, '</td>'
            ].join(''));
            row.append([
                '<td>', list.numAlphagrams, '</td>'
            ].join(''));
            row.append([
                '<td>', list.lastSaved, '</td>'
            ].join(''));

            $('#list-table tbody').append(row);

        });
    }

    $('#delete-lists').click(function() {
        var del, toDelete;
        if ($('.del-checkbox:checked').length > 0) {
            del = window.confirm(
                'Are you sure you wish to permanently delete these lists?');
            if (!del) {
                return;
            }
        }
        toDelete = [];
        $('.del-checkbox:checked').each(function() {
            toDelete.push(parseInt($(this).data('listId'), 10));
        });
        $.ajax({
            url: '/base/api/saved_lists/',
            data: JSON.stringify(toDelete),
            type: 'DELETE',
            success: function() {
                fetchListData();
            },
            dataType: 'json'
        });
    });

    $(document).ajaxSend(function(event, xhr, settings) {
        function getCookie(name) {
          var cookieValue = null;
          if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
              var cookie = jQuery.trim(cookies[i]);
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) == (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
              }
            }
          }
          return cookieValue;
        }
        function sameOrigin(url) {
          // url could be relative or scheme relative or absolute
          var host = document.location.host; // host + port
          var protocol = document.location.protocol;
          var sr_origin = '//' + host;
          var origin = protocol + sr_origin;
          // Allow absolute or scheme relative URLs to same origin
          return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
              (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
              // or any other URL that isn't scheme relative or absolute i.e relative.
              !(/^(\/\/|http:|https:).*/.test(url));
        }
        function safeMethod(method) {
          return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
          xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
        }
    });

    fetchListData();
});
</script>
{% endblock %}
