{% extends "base.html" %}
{% block title %}{{profile.user.username}}'s profile{% endblock %}


{% block content_title %}<H3>{{profile.user.username}}'s profile</H3>

{% if user == profile.user %}
<a href="/accounts/profile">(Edit</a>)
{% endif %}

{% endblock %}

{% load markup %}
{% block content %}
<div class="row">
    <div class="col-sm-9">
        <div id="profile">
          <H2>Profile</H2>
        {{profile.profile|markdown:"safe"}}
        </div>
    </div>
    <div class="col-sm-3">
        <div id="awards" class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Award Case</h2>
            </div>
            <div class="panel-body">
                {% if wwMedals.medals.Platinum %}
                    <div class="row medal-row">
                        <div class="col-xs-1 col-sm-3">
                            <img src="{{STATIC_URL}}img/aerolith/platinum_star_32x32.png">
                        </div>
                        <div class="col-xs-1 col-sm-3">
                            <span class="medalCount">{{wwMedals.medals.Platinum}}</span>
                        </div>
                    </div>
                {% endif %}
                {% if wwMedals.medals.GoldStar %}
                    <div class="row medal-row">
                        <div class="col-xs-1 col-sm-3">
                            <img src="{{STATIC_URL}}img/aerolith/gold_star_32x32.png">
                        </div>
                        <div class="col-xs-1 col-sm-3">

                            <span class="medalCount">{{wwMedals.medals.GoldStar}}</span>
                        </div>
                    </div>
                {% endif %}
                {% if wwMedals.medals.Gold %}

                    <div class="row medal-row">
                        <div class="col-xs-1 col-sm-3">
                            <img src="{{STATIC_URL}}img/aerolith/gold_medal_32x32.png">
                        </div>
                        <div class="col-xs-1 col-sm-3">

                            <span class="medalCount">{{wwMedals.medals.Gold}}</span>
                        </div>
                    </div>
                {% endif %}
                {% if wwMedals.medals.Silver %}
                <div class="row medal-row">
                        <div class="col-xs-1 col-sm-3">
                            <img src="{{STATIC_URL}}img/aerolith/silver_medal_32x32.png">
                        </div>
                        <div class="col-xs-1 col-sm-3">
                            <span class="medalCount">{{wwMedals.medals.Silver}}</span>
                        </div>
                    </div>{% endif %}
                {% if wwMedals.medals.Bronze %}
                <div class="row medal-row">
                        <div class="col-xs-1 col-sm-3">
                            <img src="{{STATIC_URL}}img/aerolith/bronze_medal_32x32.png">
                        </div>
                        <div class="col-xs-1 col-sm-3">
                            <span class="medalCount">{{wwMedals.medals.Bronze}}</span>
                        </div>
                    </div>{% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% comment %} Aerolith 2.0: A web-based word game website
Copyright (C) 2011 Cesar Del Solar

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

To contact the author, please email delsolar at gmail dot com
{% endcomment %}