.button-space {
    margin-right: 75px;
}

.bot-space {
    margin-bottom: 20px;
}

.monospace {
    font-family: monospace;
}

.missed-card {
    background-color: #FFDDDD;
}

#card-spinner {
    display: none;
}

.star-tags {
    font-size: 2.8em;
}

.bigger {
    font-size: 1.3em;
}

.previous-stars {
    margin-top: 3px;
}
