<dl>
{{#answers}}
    <dt><span class="text-info">{{f_hooks}}</span> {{#f_inner}}<span class="text-muted">&middot;</span>{{/f_inner}}{{word}}{{#b_inner}}<span class="text-muted">&middot;</span>{{/b_inner}} <span class="text-muted">{{symbols}}</span> <span class="text-info">{{b_hooks}}</span></dt>
    <dd>{{def}}</dd>
{{/answers}}
</dl>
<div class="row">
    <div class="row">
        <div class="col-xs-12">
            <small><center>How well do you know it?</center></small>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <center>
                <div class="star-tags">
                    <div>
                        <span class="glyphicon glyphicon-star-empty startag star1" data-stars="1">{{{&#8199;}}}</span>
                        <span class="glyphicon glyphicon-star-empty startag star2" data-stars="2">{{{&#8199;}}}</span>
                        <span class="glyphicon glyphicon-star-empty startag star3" data-stars="3">{{{&#8199;}}}</span>
                        <span class="glyphicon glyphicon-star-empty startag star4" data-stars="4">{{{&#8199;}}}</span>
                        <span class="glyphicon glyphicon-star-empty startag star5" data-stars="5">{{{&#8199;}}}</span>
                    </div>
                </div>
            </center>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <center>
                <small><div class="star-caption"></div></small>
            </center>
        </div>
    </div>
</div>
