<dl>
{{#answers}}
    <dt><span class="text-info">{{f_hooks}}</span> {{#f_inner}}<span class="text-muted">&middot;</span>{{/f_inner}}{{word}}{{#b_inner}}<span class="text-muted">&middot;</span>{{/b_inner}} <span class="text-muted">{{symbols}}</span> <span class="text-info">{{b_hooks}}</span></dt>
    <dd>{{def}}</dd>
{{/answers}}
</dl>
<div class="row">
    <div class="col-xs-6">
        <button class="btn btn-success btn-lg button-space correct">Correct</button>
    </div><div class="col-xs-6">
        <button class="btn btn-lg btn-danger missed">Missed</button>
    </div>
</div>
