<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-10 col-sm-8 col-md-6 col-lg-4">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-lg-3 control-label" for="prob-low">Probability Min</label>
        <div class="col-lg-9">
          <input type="text" id="prob-low" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label" for="prob-high">Probability Max</label>
        <div class="col-lg-9">
          <input type="text" id="prob-high" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label" for="word-length">Word Length</label>
        <div class="col-lg-9">
          <input type="text" id="word-length" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-3 control-label" for="lexicon">Lexicon</label>
        <div class="col-lg-9">
          <select id="lexicon" class="form-control">
            <option>OWL2</option>
            <option>CSW12</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-3 col-lg-9">
          <button type="button" class="btn btn-primary" id="load-prob">Load By Probability</button>
        </div>
      </div>
    </form>
  </div>
</div>