<form class="form-horizontal">
  <div class="control-group">
    <label class="control-label" for="prob-low">Probability Min</label>
    <div class="controls">
      <input type="text" id="prob-low">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="prob-high">Probability Max</label>
    <div class="controls">
      <input type="text" id="prob-high">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="word-length">Word Length</label>
    <div class="controls">
      <input type="text" id="word-length">
    </div>
  </div>
  <div class="control-group">
    <label class="control-label" for="lexicon">Lexicon</label>
    <div class="controls">
      <select id="lexicon">
        <option>OWL2</option>
        <option>CSW12</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <div class="controls">
      <button type="button" class="btn" id="load-prob">Load By Probability</button>
    </div>
  </div>
</form>