<div class="panel panel-default">
<div class="panel-heading">
    <h3 class="panel-title">Previous cards:</h3>
</div>
<div class="panel-body">
    {{#cards}}
    <div class="row">
        <div class="col-xs-7 bigger">
            <span class="{{#missed}}text-danger{{/missed}}{{^missed}}text-success{{/missed}}">{{question}} ({{numAnswers}})</span>
        </div>
        <div class="col-xs-5 previous-stars bigger">
            <span class="stars" data-num-stars={{stars}}></span>
        </div>
    </div>
    {{/cards}}
</div>
</div>
