

<TITLE>Aerolith</TITLE>
<H2>Aerolith</H2>
<BR>
Hi, my name is Cesar and Aerolith is my word study tool. Among its features are multiplayer, and a cycle mode that allows you to go thru lists
repeatedly until you get all the answers!<BR><BR>


<H3>Updates</H3>
If you have an older version of Aerolith, please upgrade using the links below. I'll try to make it so that the
client doesn't have to be updated that often (i.e. make the server backwards compatible with older versions of the client, if the user does
not wish to upgrade).<BR><BR>
<B>Current version: 0.4.1.1</B><BR>
Changes: <BR>
- Added a new display mode under Preferences - boxes around tiles.<BR>
- Added a new display mode -- no tiles at all (words are displayed in rectangles instead)<BR>
- Toggle font button for Word Rectangle mode.<BR>
- Clicking on words to shuffle them no longer makes Guess box lose focus.<BR>
- Enlarged guess box.<BR>
- Insert only meaningful guesses into Guesses box.<BR>

<BR>
<BR>
Coming soon:<BR>
- ODS and Collins<BR>
- Marathon mode<BR>


<a href="aerolith-0.4.1.1-windows-installer.exe">Aerolith for Windows</a> Run the exe to install Aerolith. Uninstall the previous version of Aerolith, by going to the Start Menu, Programs, select Aerolith, and click the Uninstall Aerolith option.<BR>
<a href="aerolith.dmg">Aerolith for Mac - Universal</a> This is a self contained dmg file. <B>It will not work on OSX version 10.3.8 and lower.</b> <BR>

<BR>
<H3>Source code</H3>
Aerolith is released under the GNU General Public License. Source code is available by running this at a command line (subversion must be installed on your computer): <BR>
<pre>svn checkout http://aerolithdesktop.googlecode.com/svn/aerolith/tags/client/0.4.1 aerolithDesktop</pre>
<BR><BR>
Below are images of how you can customize the Aerolith display: <BR>
<img src="{{STATIC_URL}}pictures/oldsite/pic3.png"><BR>
<img src="{{STATIC_URL}}pictures/oldsite/pic4.png"><BR>
<img src="{{STATIC_URL}}pictures/oldsite/pic1.png"><BR>
<img src="{{STATIC_URL}}pictures/oldsite/pic2.png"><BR>
<img src="{{STATIC_URL}}pictures/oldsite/pic5.png"><BR>
<BR>
<H3>Donations</H3>

Any donations will be greatly appreciated. I've moved the program to a dedicated server, which costs money but provides greater reliability, speed, and supports more bandwidth. I also want to add other modes like Anagrams and a "Crossword Game" eventually.<BR><BR>

<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_xclick">
    <input type="hidden" name="business" value="delsolar@gmail.com">
    <input type="hidden" name="item_name" value="Aerolith donation">
    <input type="image" src="{{STATIC_URL}}pictures/oldsite/ppdonate.gif" name="submit"
           alt="Donate to Aerolith with PayPal!">
</form>


<BR><BR>
Suggestions are definitely welcome! Please send any suggestions to delsolar (gmail).
