<P>
{{#buy}}
You wish to <strong>buy</strong> shares of {{name}}.
{{/buy}}
{{#sell}}
You wish to <strong>sell</strong> shares of {{name}}. This is permitted even if you don't own these shares yet.
{{/sell}}
</P>
<form class="form-horizontal">
    <div class="control-group">
        <label class="control-label" for="numShares">Number of shares</label>
        <div class="controls">
            <input type="text" id="numShares" class="input-small"/>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="desiredPrice">Limit price</label>
        <div class="controls">
            <input type="text" id="desiredPrice" class="input-small"/> points
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
            <button id="submitOrder" class="btn btn-{{#buy}}buy{{/buy}}{{#sell}}sell{{/sell}}" data-futureid="{{futureId}}" type="button">Submit</button>
        </div>
    </div>
</form>