<!DOCTYPE html>
<meta charset="utf-8">
<head>
<title>Playa stats</title>

<script src="/static/lib/crossfilter.js"></script>
<script src="/static/lib/d3.js"></script>
<script src="/static/lib/dc.js"></script>
<script src="/static/js/aerolith/jquery-1.10.1.js"></script>
<link href="/static/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/static/lib/dc.css" rel="stylesheet">
<style>
  body {
    margin-left: 50px;
    margin-top: 20px;
  }
</style>
</head>

<body>
<div class="row" style="margin-bottom: 10px;">
  User: <input type="text" id="userfilter"/>
  <button class="btn btn-primary" id="user-filter-btn">Filter By User</button>
</div>
<div class="row" style="margin-bottom: 10px;">
  Lexicon: <select id="lexiconfilter"><option></option><option>OWL2</option><option>CSW12</option><option>CSW07</option></select>
</div>
<div class="row" style="margin-bottom: 10px;">
  Challenge:
  <select id="challengenamefilter">
    <option></option>
    <option>Today's 2s</option>
    <option>Today's 3s</option>
    <option>Today's 4s</option>
    <option>Today's 5s</option>
    <option>Today's 6s</option>
    <option>Today's 7s</option>
    <option>Today's 8s</option>
    <option>Today's 9s</option>
    <option>Today's 10s</option>
    <option>Today's 11s</option>
    <option>Today's 12s</option>
    <option>Today's 13s</option>
    <option>Today's 14s</option>
    <option>Today's 15s</option>
    <option>Week's Bingo Toughies</option>
    <option>Blank Bingos</option>
    <option>Bingo Marathon</option>
  </select>
</div>
<div class="row">
  <div id="total-points-chart" class="dc-chart">
    <strong>Total Points</strong>
    <a class="reset" href="javascript:totalPointsChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
    <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
    <div class="clearfix"></div>
  </div>
  <div id="point-progression-chart" class="dc-chart">
    <strong>Point progression over time</strong>
      <a class="reset" href="javascript:pointProgressionChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
    <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
    <div class="clearfix"></div>
  </div>

</div>
<div class="row">
  <div id="challenges-by-date-chart" class="dc-chart">
      <strong>Challenges By Month</strong>
      <a class="reset" href="javascript:challengesByDateChart.filterAll();dc.redrawAll();" style="display: none;">reset</a>
      <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
      <div class="clearfix"></div>
  </div>
  <div id="day-of-week-chart" class="dc-chart">
    <strong>By Day of Week</strong>
    <a class="reset" href="javascript:dayOfWeekChart.filterAll(); dc.redrawAll();" style="display:none;">reset</a>
    <span class="reset" style="display: none;">Current filter: <span class="filter"></span></span>
    <div class="clearfix"></div>
  </div>
</div>
</body>

<script>
var challengesByDateChart = dc.barChart("#challenges-by-date-chart"),
  totalPointsChart = dc.barChart("#total-points-chart"),
  dayOfWeekChart = dc.rowChart("#day-of-week-chart"),
  pointProgressionChart = dc.bubbleChart("#point-progression-chart");
function resetUserFilter() {
  user.filterAll();
  dc.redrawAll();
}
function resetLexiconFilter() {
  lexicon.filterAll();
  dc.redrawAll();
}
function resetChallengeFilter() {
  chName.filterAll();
  dc.redrawAll();
}
d3.csv("/static/challenges_raw.csv", function(error, challenges) {
    // Coerce some values to typed values.
    // Like d3.time.format, but faster.
    function parseDate(d) {
        return new Date(d.substring(0, 4), d.substring(5, 7) - 1,
            d.substring(8, 10));
    }

    challenges.forEach(function(c) {
        c['Date'] = parseDate(c['Date']);
        c['Max Score'] = +c['Max Score'];
        c['Score'] = +c['Score'];
        c['Time Remaining'] = +c['Time Remaining'];
        // 'points' is a normalized score.
        c['points'] = Math.floor(100 * c['Score'] / c['Max Score']) +
            c['Time Remaining'];
    });
    var challenge = crossfilter(challenges),
        all = challenge.groupAll(),
        date = challenge.dimension(function(d) { return d.Date; }),
        // do i need dates?
        dates = date.group(d3.time.month),
        point = challenge.dimension(function(d) { return d.points; }),
        // For histogram sake?
        points = point.group(),
        pointsByDate = date.group().reduce(function(p, v) {
          p.date = v.Date;
          p.challsToday++;
          p.total += v.points;
          p.avg = p.total / p.challsToday;
          return p;
        }, function(p, v) {
          p.date = v.Date;
          p.challsToday--;
          p.total -= v.points;
          p.avg = p.challsToday === 0 ? 0 : p.total / p.challsToday;
          return p;
        }, function() {
          return {challsToday: 0, total: 0, avg: 0, date: null}
        }),
        user = challenge.dimension(function(d) { return d.Username; }),
        chName = challenge.dimension(function(d) {
          return d['Challenge Name'];
        }),
        lexicon = challenge.dimension(function(d) {
          return d.Lexicon;
        }),
        dayOfWeek = challenge.dimension(function (d) {
          var day = d.Date.getDay();
          switch (day) {
            case 0:
              return "0.Sun";
            case 1:
              return "1.Mon";
            case 2:
              return "2.Tue";
            case 3:
              return "3.Wed";
            case 4:
              return "4.Thu";
            case 5:
              return "5.Fri";
            case 6:
              return "6.Sat";
          }
        }),
        dayOfWeekGroup = dayOfWeek.group();
    // Charts.
    challengesByDateChart
      .width(600)
      .height(250)
      .margins({top: 10, right: 50, bottom: 30, left: 50})
      .dimension(date)
      .group(dates)
      .elasticY(true)
      .x(d3.time.scale().domain([new Date(2011, 5, 1), new Date(2012, 9, 1)]))
      .elasticX(true)
      .xUnits(d3.time.months)
      .renderHorizontalGridLines(true)
      .renderVerticalGridLines(true)
      .renderTitle(true);
    totalPointsChart
      .width(600)
      .dimension(point)
      .margins({top: 10, right: 50, bottom: 30, left: 40})
      .group(points)
      .elasticY(true)
      .x(d3.scale.linear().domain([0, 400]))
      .centerBar(true)
      .renderHorizontalGridLines(true)
      .renderVerticalGridLines(true);
    dayOfWeekChart.width(180)
      .margins({top: 20, left: 10, right: 10, bottom: 20})
      .group(dayOfWeekGroup)
      .dimension(dayOfWeek)
      .colors(['#3182bd', '#6baed6', '#9ecae1', '#c6dbef', '#dadaeb'])
      .label(function (d) {
          return d.key.split(".")[1];
      })
      .title(function (d) {
          return d.value;
      })
      .elasticX(true)
      .xAxis().ticks(4);
    pointProgressionChart.width(350)
      .margins({top: 10, right: 50, bottom: 30, left: 40})
      .elasticX(true)
      .elasticY(true)
      .dimension(date)
      .group(pointsByDate)
      .valueAccessor(function (d) {
        return d.value.avg;
      })
      .keyAccessor(function(d) {
        return d.value.date;
      })
      .radiusValueAccessor(function(d) {
        return 0.00001;
      })
      .label(function(d) {
        return null;
      })
      .x(d3.time.scale().domain([new Date(2013, 5, 1), new Date(2013, 5, 10)]))
      .xUnits(d3.time.months)
      .renderHorizontalGridLines(true)
      .renderVerticalGridLines(true)
      .brushOn(true);
    dc.renderAll();
    $('#user-filter-btn').click(function() {
      var username;
      username = $('#userfilter').val();
      if (username) {
        user.filterExact(username);
      } else {
        user.filterAll();
      }
      dc.redrawAll();
    });
    $('#lexiconfilter').change(function() {
      var lex;
      lex = $('#lexiconfilter').val();
      if (lex) {
        lexicon.filterExact(lex);
      } else {
        lexicon.filterAll();
      }
      dc.redrawAll();
    });
    $('#challengenamefilter').change(function() {
      var ch;
      ch = $('#challengenamefilter').val();
      if (ch) {
        chName.filterExact(ch);
      } else {
        chName.filterAll();
      }
      dc.redrawAll();
    });

});

</script>

</html>