{% extends "base.html" %}
{% load i18n %}
{% block ss %}
    <link href="/static/css/wordwalls/wordwallsCreateTable.css" rel="stylesheet">
    <link href="/static/css/aerolith/bootstrap-datepicker.css" rel="stylesheet">
{% endblock %}
{% block title %}{% trans "Wordwalls - select list" %}{% endblock %}

{% block jquery_js %}{% endblock %}

{% block content %}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<P></P>

<div id="commonForm">

  <form class="form-horizontal" role="form">
    <div class="form-group">
      <label for="id_lexicon" class="col-md-2 control-label">{% trans "Lexicon" %}</label>
      <div class="col-md-2">
        {{lexForm.lexicon}}
      </div>
    </div>
    <div class="form-group csw-license-div-holder">
      <label class="col-md-2"></label>
      <div class="col-md-6">The Collins Official Scrabble Words 2015 (CSW15) is copyright of HarperCollins Publishers 2015 and used with permission.</div>
    </div>
    <div class="form-group">
      <label for="id_quizTime" class="col-md-2 control-label">{% trans "Time (minutes)" %}:</label>
      <div class="col-md-2">
          <input id="id_quizTime" name="quizTime" type="text" value="4" class="form-control">
      </div>
    </div>
  </form>
</div>

<div class="row">
  <div class="col-md-2">
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-md-12 control-label">{% trans "Select a quiz type" %}</label>
      </div>
    </form>
  </div>
  <div class="col-md-10">
    <ul class="nav nav-pills" id="main-tab-nav">
      <li class="active"><a href="#today" data-toggle="tab" data-index="0">{% trans "Today's Challenges" %} <span class="glyphicon glyphicon-question-sign help-question-marks" data-toggle="tooltip" data-placement="top" title="Click me for help" id="help-challenges"></span></a></li>
      <li><a href="#search" data-toggle="tab" data-index="1">{% trans "Probability Search"%} <span class="glyphicon glyphicon-question-sign help-question-marks" data-toggle="tooltip" data-placement="top" title="Click me for help" id="help-search-params"></span></a></li>
      <li><a href="#named-list" data-toggle="tab" data-index="3">{% trans "Aerolith Lists"%} <span class="glyphicon glyphicon-question-sign help-question-marks" data-toggle="tooltip" data-placement="top" title="Click me for help" id="help-named-lists"></span></a></li>
      <li><a href="#saved-list" data-toggle="tab" data-index="2">{% trans "My Saved Lists" %} <span class="glyphicon glyphicon-question-sign help-question-marks" data-toggle="tooltip" data-placement="top" title="Click me for help" id="help-saved-lists"></span></a></li>
    </ul>
  </div>
</div>
<div class="tab-content">
    <div class="tab-pane active" id="today">
      <div class="row">
        <div class="col-md-6 col-sm-6">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="id_challengeDate" class="col-md-2 col-md-offset-2 control-label">{% trans "Date" %}</label>
              <div class="col-md-6">
                <input type="text" class="form-control" id="id_challengeDate" name="challengeDate">
              </div>
            </div>
            <div class="form-group">
              <label for="id_challenge" class="col-md-2 col-md-offset-2 control-label">{% trans "Challenge" %}</label>
              <div class="col-md-6">
                {{dcForm.challenge}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-4 col-md-2">
                <button type="button" class="formSubmitButton btn btn-success" id="challengeSubmit">{% trans "Play!"%}</button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4 col-sm-6">
          <span id="dcResultsLabel"></span><BR>
          <div id="dcResultsDiv"></div>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="search">
      <div class="row">
        <div class="col-md-6">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="id_wordLength" class="col-md-4 control-label">{% trans "Word Length" %}</label>
              <div class="col-md-4">
                {{fwForm.wordLength}}
              </div>
            </div>
            <div class="form-group">
              <label for="id_probabilityMin" class="col-md-4 control-label">{% trans "Min Probability (at least 1)"%}</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="id_probabilityMin" name="probabilityMin">
              </div>
            </div>
            <div class="form-group">
              <label for="id_probabilityMax" class="col-md-4 control-label">{% trans "Max Probability" %}</label>
              <div class="col-md-4">
                <input type="text" class="form-control" id="id_probabilityMax" name="probabilityMax">
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-4 col-md-2 col-sm-2 col-xs-4">
                <button type="button" class="formSubmitButton btn btn-success" id="searchParamsSubmit">{% trans "Play!" %}</button>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-2">or</div>
              <div class="col-md-2 col-sm-2 col-xs-6">
                <button type="button" class="formSubmitButton btn btn-info" id="searchParamsFlashcard">{% trans "Flashcard" %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="tab-pane" id="saved-list">
        <div class="row">
          <div id="numAlphasInfo" class="text-muted"></div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <form class="form-horizontal" role="form">
              <div class="form-group">
                <label for="id_listOption" class="col-md-2 control-label">{% trans "Quiz Options" %}</label>
                <div class="col-md-3">
                  {{slForm.listOption}}
                </div>
              </div>
              <div class="form-group">
                <label for="id_wordList" class="col-md-2 control-label">{% trans "List choice" %}</label>
                <div class="col-md-8">
                  {{slForm.wordList}}
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-offset-2 col-md-2 col-sm-3 col-xs-12">
                  <button type="button" class="formSubmitButton btn btn-success" id="savedListsSubmit">{% trans "Play!" %}</button>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                  <button type="button" class="formSubmitButton btn btn-info" id="savedListsFlashcardEntire">{% trans "Flashcard entire list" %}</button>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-12">
                  <button type="button" class="formSubmitButton btn btn-info" id="savedListsFlashcardFM">{% trans "Flashcard first missed" %}</button>
                </div>
              </div>
              <div class="form-group">
                <span class="col-md-8 col-md-offset-2" id="savedListWarning"></span>
              </div>
              <div class="form-group">
                <h3 class="col-md-4 col-md-offset-2">{% trans "Or upload a new list" %}:</h3>

              </div>
              <div class="form-group">
                <div class="col-md-2 col-md-offset-2">
                  <div id="file-uploader" class="btn btn-primary"><span class="glyphicon glyphicon-upload dz-message"></span> {% trans "Upload Word List" %}</div>
                </div>
                <div id="hidden-preview-container"></div>
              </div>
            </form>
          </div>
        </div>

        <div id="file-upload-msgs" class="col-md-offset-2"></div>

    </div>

    <div class="tab-pane" id="named-list">
      <div class="row">
        <div class="col-md-8">
          <form class="form-horizontal" role="form">
            <div class="form-group">
              <label for="id_wordLength" class="col-md-3 control-label">{% trans "List choice"%}</label>
              <div class="col-md-8">
                {{nlForm.namedList}}
              </div>
            </div>
            <div class="form-group">
              <div class="col-md-offset-3 col-md-2 col-sm-2 col-xs-4">
                <button type="button" class="formSubmitButton btn btn-success" id="namedListsSubmit">{% trans "Play!" %}</button>
              </div>
              <div class="col-md-1 col-sm-1 col-xs-2">{% trans "or" %}</div>
              <div class="col-md-2 col-sm-2 col-xs-4">
                <button type="button" class="formSubmitButton btn btn-info" id="namedListsFlashcard">{% trans "Flashcard" %}</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
</div>

{% if False %}
    <div id="lobby" class="ui-widget ui-widget-content ui-corner-all">
    <div id="chatTextOuter"><div id="chatText"></div></div>
    <div id="peopleOuter"><div id="people"></div></div>
    <input type="text" class="chatBar" placeholder="Say something!"/ maxlength="140">
{% endif %}
</div>

<div class="modal fade bs-modal-lg" id="msg-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="msg-title"></h4>
      </div>
      <div class="modal-body" id="msg-content">
      </div>
    </div>
  </div>
</div>

<img src="/static/img/aerolith/blue_spinner.gif" style="display: none; position: fixed; left: 600px; top: 100px;" class="ring-spinner">

<script>
var require = {
  config: {
    'createTableMain': {
      lengthCounts: "{{lengthCounts|escapejs}}",
      dcTimes: "{{dcTimes|escapejs}}",
      createTableUrl: "{% url 'wordwalls_create_table' %}",
      createQuizUrl: "{% url 'flashcards_create_quiz' %}",
      defaultLexicon: "{{defaultLexicon.pk}}",
      csrfToken: "{{csrf_token}}",
      ajaxUploadUrl: "{% url 'ajax_upload' %}",
      chatEnabled: "{{chatEnabled}}",
      socketConnectionToken: "{{connToken}}",
      socketUrl: "{{socketUrl}}",
      uploadListLimit: "{{upload_list_limit}}",
      currentLanguage: "{{LANGUAGE_CODE}}"
    }
  }
}
</script>
<script src="/static/lib/require/require-min.js"></script>
<script>
require.config({
    {% if DEBUG_JS %}
        paths: {
            "createTableMain": "/static/js/wordwalls/createTableMain"
        }

    {% else %}
        urlArgs: 'v={{CURRENT_VERSION}}',
        paths: {
            "createTableMain": "/static/build/create-table-main-built"
        }
    {% endif %}
});
require(["createTableMain"]);
</script>

{% endblock %}

{% comment %} Aerolith 2.0: A web-based word game website
Copyright (C) 2011 Cesar Del Solar

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

To contact the author, please email delsolar at gmail dot com
{% endcomment %}
