{% extends "base.html" %}
{% load i18n %}
{% block ss %}
    <link href="/static/css/wordwalls/wordwallsCreateTable.css" rel="stylesheet">
    <link href="/static/css/aerolith/bootstrap-datepicker.css" rel="stylesheet">
{% endblock %}
{% block title %}{% trans "Wordwalls - select list" %}{% endblock %}

{% block jquery_js %}{% endblock %}

{% block content %}
<script type="text/javascript" src="{% url 'django.views.i18n.javascript_catalog' %}"></script>
<P></P>

<div id="commonForm">

  <form class="form-horizontal" role="form">
    <!-- Lexicon -->
    <div class="form-group">
      <label for="id_lexicon" class="col-md-2 control-label">{% trans "Lexicon" %}</label>
      <div class="col-md-2">
        {{lexForm.lexicon}}
      </div>
    </div>
    <div class="form-group csw-license-div-holder">
      <label class="col-md-2"></label>
      <div class="col-md-6">The Collins Official Scrabble Words 2015 (CSW15) is copyright of HarperCollins Publishers 2015 and used with permission.</div>
    </div>
    <!-- Quiz time -->
    <div class="form-group">
      <label for="id_quizTime" class="col-md-2 control-label">{% trans "Time (minutes)" %}:</label>
      <div class="col-md-2">
          <input id="id_quizTime" name="quizTime" type="text" value="4" class="form-control">
      </div>
    </div>
    <!-- Number of questions -->
    <div class="form-group">
      <label for="id_num_questions" class="col-md-2 control-label">{% trans "Number of questions per round" %} (20-200)</label>
      <div class="col-md-2">
        {{num_q_form.num_questions}}
      </div>
    </div>

  </form>
</div>

<div class="row">
  <div class="col-md-2">{% comment %} A fake form just for the tabs. Helps to align the labels. {% endcomment %}
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <label class="col-md-12 control-label">{% trans "Select a quiz type" %}</label>
      </div>
    </form>
  </div>
  <div class="col-md-10">
    <ul class="nav nav-pills" id="main-tab-nav">
      <li class="active"><a href="#today" data-toggle="tab" data-index="0">{% trans "Today's Challenges" %} <span class="glyphicon glyphicon-question-sign help-question-marks" data-toggle="tooltip" data-placement="top" title="Click me for help" id="help-challenges"></span></a></li>
      <li><a href="#search" data-toggle="tab" data-index="1">{% trans "Probability Search"%} <span class="glyphicon glyphicon-question-sign help-question-marks" data-toggle="tooltip" data-placement="top" title="Click me for help" id="help-search-params"></span></a></li>
      <li><a href="#named-list" data-toggle="tab" data-index="3">{% trans "Aerolith Lists"%} <span class="glyphicon glyphicon-question-sign help-question-marks" data-toggle="tooltip" data-placement="top" title="Click me for help" id="help-named-lists"></span></a></li>
      <li><a href="#saved-list" data-toggle="tab" data-index="2">{% trans "My Saved Lists" %} <span class="glyphicon glyphicon-question-sign help-question-marks" data-toggle="tooltip" data-placement="top" title="Click me for help" id="help-saved-lists"></span></a></li>
    </ul>
  </div>
</div>
<div class="tab-content">
  {% include "wordwalls/forms/daily_challenges.html" %}
  {% include "wordwalls/forms/search_criteria.html" %}
  {% include "wordwalls/forms/saved_lists.html" %}
  {% include "wordwalls/forms/default_lists.html" %}
</div>

{% if False %}
    <div id="lobby" class="ui-widget ui-widget-content ui-corner-all">
    <div id="chatTextOuter"><div id="chatText"></div></div>
    <div id="peopleOuter"><div id="people"></div></div>
    <input type="text" class="chatBar" placeholder="Say something!"/ maxlength="140">
{% endif %}
</div>

<div class="modal fade bs-modal-lg" id="msg-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="msg-title"></h4>
      </div>
      <div class="modal-body" id="msg-content">
      </div>
    </div>
  </div>
</div>

<img src="/static/img/aerolith/blue_spinner.gif" style="display: none; position: fixed; left: 600px; top: 100px;" class="ring-spinner">

<script>
var require = {
  config: {
    'create_table_main': {
      lengthCounts: "{{lengthCounts|escapejs}}",
      dcInfo: "{{dc_info|escapejs}}",
      createTableUrl: "{% url 'wordwalls_create_table' %}",
      createQuizUrl: "{% url 'flashcards_create_quiz' %}",
      defaultLexicon: "{{defaultLexicon.pk}}",
      csrfToken: "{{csrf_token}}",
      ajaxUploadUrl: "{% url 'ajax_upload' %}",
      chatEnabled: "{{chatEnabled}}",
      socketConnectionToken: "{{connToken}}",
      socketUrl: "{{socketUrl}}",
      uploadListLimit: "{{upload_list_limit}}",
      currentLanguage: "{{LANGUAGE_CODE}}"
    }
  }
}
</script>
<script src="/static/lib/require/require-min.js"></script>
<script>
require.config({
    {% if DEBUG_JS %}
        paths: {
            "create_table_main": "/static/js/wordwalls/create_table_main"
        }

    {% else %}
        urlArgs: 'v={{CURRENT_VERSION}}',
        paths: {
            "create_table_main": "/static/dist/create-table-main-built"
        }
    {% endif %}
});
require(["create_table_main"]);
</script>

{% endblock %}

{% comment %} Aerolith 2.0: A web-based word game website
Copyright (C) 2011 Cesar Del Solar

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

To contact the author, please email delsolar at gmail dot com
{% endcomment %}
