{% extends "base.html" %}
{% load i18n %}
{% block ss %}
    <link href="/static/css/wordwalls/wordwallsCreateTable.css" rel="stylesheet">
    <link href="/static/css/aerolith/bootstrap-datepicker.css" rel="stylesheet">
{% endblock %}
{% block title %}{% trans "Wordwalls - select list" %}{% endblock %}

{% block content %}
<script src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/static/js/aerolith/Chart.bundle.min.js"></script>
<script src="/static/lib/bootstrap-datepicker.js"></script>

<div class="container">

    <div class="row">

        <div class="col-md-6">

            <p>

                Lexicon:<br>
                <select class="form-control" id="lexicon">
                  <option value="1">CSW15</option>
                  <option value="9">NWL18</option>
                  <option value="10">FISE2</option>
                </select>

            </p>

            <p>

                Challenge:<br>
                <select class="form-control" id="challenge">
                  <option value="1">Today's 2's</option>
                  <option value="2">Today's 3's</option>
                  <option value="3">Today's 4's</option>
                  <option value="4">Today's 5's</option>
                  <option value="5">Today's 6's</option>
                  <option value="6">Today's 7's</option>
                  <option value="7">Today's 8's</option>
                  <option value="8">Today's 9's</option>
                  <option value="9">Today's 10's</option>
                  <option value="10">Today's 11's</option>
                  <option value="11">Today's 12's</option>
                  <option value="12">Today's 13's</option>
                  <option value="13">Today's 14's</option>
                  <option value="14">Today's 15's</option>
                  <option value="15">Week's Bingo Toughies</option>
                  <option value="16">Blank Bingos</option>
                  <option value="17">Bingo Marathon</option>
                  <option value="18">Common Words (short)</option>
                  <option value="19">Common Words (long)</option>
                </select>

            <p>

                Start Date:<br>
                <input data-provide="datepicker" id="start-date" class="form-control date-picker">

            </p>

            <p>

                End Date:<br>
                <input data-provide="datepicker" id="end-date" class="form-control date-picker">

            </p>

            </p>

            <button type="button" class="btn btn-primary" id="dropdown-button">Submit</button>

            </p>

    </div>



    <div class="col-md-6">

        <table class="table">
          <thead>
            <tr>
              <th></th>
              <th>Average</th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Time Remaining (seconds)</th>
              <td><span id="time"></span></td>
              <td><span id="time-low"></span></td>
              <td><span id="time-high"></span></td>
            </tr>
            <tr>
              <th scope="row">Score</th>
              <td><span id="scores"></span></td>
              <td><span id="scores-low"></span></td>
              <td><span id="scores-high"></span></td>
            </tr>
          </tbody>
        </table>

    </div>

</div>


<div id="div1">

    <canvas id="scoresChart" width="400" height="100"></canvas>

</div>

<p>

<div id="div2">

    <canvas id="timeChart" width="400" height="100"></canvas>

</div>

</p>

<img src="/static/img/aerolith/blue_spinner.gif" style="display: none; position: fixed; left: 600px; top: 100px;" class="ring-spinner">
<p>Stats feature coded by <a href="http://www.emilydowgialo.com" target="_blank">Emily Dowgialo</a>. Thanks!</p>

<script>

$('.date-picker').datepicker({
    format: 'yyyy-mm-dd'
});

// These hold info for the charts
var scoresByDate = {};
var dateArray = [];
var timeRemainingByDate = {};

// Defining the charts as global - destroy the charts should the user
// select another option to view
var scoresChartObj;
var timeChartObj;

$( "#dropdown-button" ).click(function() {

    $( ".ring-spinner").show();
    $( "#dropdown-button").prop('disabled', true);

    // Check if charts exist so another chart isn't populated
    // on top of it
    if (scoresChartObj) {
        scoresChartObj.destroy()
    }

    if (timeChartObj) {
        timeChartObj.destroy()
    }

    scoresByDate = {};
    dateArray = [];
    timeRemainingByDate = {};
    // This is the info we want
    var lexicon = $('#lexicon').val()
    var challenge = $('#challenge').val()
    var startDate = $('#start-date').val()
    var endDate = $('#end-date').val()


    // Call the API, receive JSON
    $.ajax({
          method: "GET",
          data: {start_date: startDate, end_date: endDate},
          url: "/wordwalls/stats/api/" + lexicon + "/" + challenge + "/",
          dataType: 'json'
    })
        .done(function(msg) {

            // Parse the JSON for the info we want for the charts
            for (var i = 0; i < msg.length; i++) {
                var value = msg[i];
                var dateString = value.Date;
                var dateYearOnly = dateString.slice(0, 4);
                var scoreShortened = (Number(value.Score) / Number(value.maxScore)) * 100;

                scoresByDate[value.Date] = scoreShortened.toFixed(2);
                timeRemainingByDate[value.Date] = value.timeRemaining;

                // dateArray.push(dateYearOnly);
                dateArray.push(value.Date);

            }

            // Call the charts function to generate the charts on the page
            charts();
        });

function getAverage (array, idToUpdate) {

    var count = 0;
    var total = array.length;

    for (var i = 0; i < array.length; i++) {
        num = parseInt(array[i], 10);
        count += num;
    }

    var avg = (count / total).toFixed(2);

    var avgString = avg.toString();

    if (avgString === 'NaN') {
        avgString = '0';
    }

    var averageElement = $('#' + idToUpdate);

    averageElement.html(avgString);

}

function charts () {

    $( ".ring-spinner").hide();
    $( "#dropdown-button").prop('disabled', false);

    // Info for chart axes
    dateArray.sort();
    var scoresSorted = [];
    var timeSorted = [];

    for (var i = 0; i < dateArray.length; i++) {
        scoresSorted[i] = scoresByDate[dateArray[i]];
        timeSorted[i] = timeRemainingByDate[dateArray[i]];
    }

    getAverage(scoresSorted, 'scores');
    getAverage(timeSorted, 'time');


    // Scores line graph
    var ctx = document.getElementById("scoresChart");

    scoresChartObj = new Chart(ctx, {
        type: 'line',
        data: {
            labels: dateArray,

            datasets: [{
                label: 'Score',
                data: scoresSorted,

                // Point color
                pointBorderColor: "rgba(75,192,192,1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(75,192,192,1)",
                pointHoverBorderColor: "rgba(220,220,220,1)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,
                backgroundColor: [
                    // Fill color under line
                    'rgba(75,192,192,0.2)'
                ],
                borderColor: [
                    // Line
                    'rgba(75,192,192,0.5)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 0
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    type: 'time',
                    time: {
                    displayFormats: {
                        quarter: 'MMM YYYY'
                    }
                }
                }]
            }
        }

    });

    // Time remaining line graph
    var ntx = document.getElementById("timeChart");

    timeChartObj = new Chart(ntx, {
        type: 'line',
        data: {
            labels: dateArray,

            datasets: [{
                label: 'Time Remaining',
                data: timeSorted,

                // Point color
                pointBorderColor: "rgba(255, 99, 132, 1)",
                pointBackgroundColor: "#fff",
                pointBorderWidth: 1,
                pointHoverRadius: 5,
                pointHoverBackgroundColor: "rgba(255,99,132, 1)",
                pointHoverBorderColor: "rgba(255,99,132, 0.5)",
                pointHoverBorderWidth: 2,
                pointRadius: 1,
                pointHitRadius: 10,

                backgroundColor: [
                    // Fill color under line
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    // Line
                    'rgba(255,99,132, 0.5)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 0
            }]
        },
        options: {
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero:true
                    }
                }],
                xAxes: [{
                    type: 'time',
                    time: {
                    displayFormats: {
                        quarter: 'MMM YYYY'
                    }
                }
                }]
            }
        }

    });

}
});

</script>


{% endblock %}
