{% extends "base.html" %}

{% block content %}

{% load assets %}
{% load value_from_settings %}
<script type="text/javascript" src="/static/js/whitleyCards/quiz.js"></script>


<p style="color:gray">Flashcards programmed by David Whitley and adapted by Cesar Del Solar, based on code at Ottawa Scrabble Club website by Chris Ten Den</p>
<div>
    <div id="messages"></div>
    <form name="game" onSubmit="solve(); return false;" class="form-inline" role="form">
            <div class="form-group">
                <input type="text" name="word" class="form-control">
            </div>
            <P></P>
            <div class="form-group">
                <input type="button" class="form-control" onClick="completeSolve();" value="Solve">
            </div>
            <div class="form-group">
            <input type="button" class="form-control" onClick="forceReveal();" value="Hint">
            </div>
            <div class="form-group">
            <input type="button" class="form-control" onClick="toggleHints();" value="Auto">
            </div>
            <div class="form-group">
                <input type="button" class="form-control" onClick="changeSpeed(-1);" value="-">
            </div>
            <div class="form-group">
                <input type="button" class="form-control" onClick="changeSpeed(1);" value="+">
            </div>
            <span id="speed"><font color='gray'>5 |||||</font></span>
    </form>
    <span id="question" style="font-family:'scramble','Lucida Console',monospace; font-size:36px; height:36px;"></span>
    <div id="progress" class="text-muted" style="font-family:'verdana'; font-size:15px; height:20px;">&nbsp;</div>
    <div id="hints" style="font-family:'scramble','Lucida Console',monospace; font-size:36px;height:40px;"></div>
    <div id="variants" style="font-family:'scramble','Lucida Console',monospace; font-size:24px; min-height:25px;"></div>
    <div id="trace"></div>
    <div id="solved"></div>

</div>
<script type="text/javascript">
$(document).ready(function() {
    initializeQuiz("{{ request.get_full_path }}");
    mixpanel.track('Entered flashcards page');
});
</script>
{% endblock content %}