<table id="dcResultsTable" class="table table-condensed">
    <tr>
        <td class="dcResultsTableHeader">#</td>
        <td class="dcResultsTableHeader">{{i18n_ui_name}}</td>
        <td class="dcResultsTableHeader">{{i18n_ui_score}}</td>
        <td class="dcResultsTableHeader">{{i18n_ui_remaining}}</td>
    </tr>
    {{#results}}
    <tr>
        <td class="dcResultsTableCell">{{place}}</td>
        <td class="dcResultsTableCell"><a href="/accounts/profile/{{user}}" target="_blank">{{#medal}}<img src="/static/img/aerolith/{{medal}}_16x16.png">{{/medal}}{{user}}</a></td>
        <td class="dcResultsTableCell">{{scorePercent}}%</td>
        <td class="dcResultsTableCell">{{secondsRemaining}} s.</td>
    </tr>
    {{/results}}
</table>