<td>{{prob}}</td>
<td class="alphagramCell{{#wrongAlpha}} wrongGuess{{/wrongAlpha}}">{{alphagramText}}</td>
<td class="frontHooksCell">{{frontHooks}}</td>
<td class="solutionCell{{#wrong}} wrongGuess{{/wrong}}">{{#innerFrontHook}}&middot;{{/innerFrontHook}}{{word}}{{#innerBackHook}}&middot;{{/innerBackHook}}{{lexiconSymbol}}</td>
<td class="backHooksCell">{{backHooks}}</td>
<td>{{definition}}</td>
<td>{{#markMissedBtn}}<button class="mark-missed">{{i18n_ui_markmissed}}</button>{{/markMissedBtn}}</td>