{% load value_from_settings %}
{% value_from_settings USE_GA as USE_GA %}
{% value_from_settings DEBUG_JS as DEBUG_JS %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>National Scrabble Championship 2013</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/static/lib/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="/static/lib/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">National Scrabble Championship 2013</a>
        </div>
      </div>
    </div>

    <div class="container">

      <div class="row">
        <div class="span4">
          <a class="twitter-timeline" href="https://twitter.com/search?q=%23nsc2013" data-widget-id="357780562418749440">Tweets about "#nsc2013"</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </div>
        <div class="span4">
          <h4>Live coverage of NSC 2013!</h4>
          Contact us if you want to be interviewed.
          <div style="margin-bottom: 30px;"></div>

          <div id="yt">
            <div id="yt-iframe"></div>
            <h5>Older videos - click to view</h5>
            <ul id="yt-list">
            </ul>
          </div>


        </div>

        <div class="span3">
          Space here for standings/etc?
        </div>
      </div>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script>
    var require = {
      config: {
        'main': {
        }
      }
    }
    </script>
    <script src="/static/lib/require/require-min.js"></script>
    <script>
    require.config({
        {% if DEBUG_JS %}
            paths: {
                'main': '/static/js/nsc2013/main'
            }
        {% else %}
            urlArgs: 'v={{CURRENT_VERSION}}',
            paths: {
                'main': '/static/build/nsc2013-built'
            }
        {% endif %}
    });
    require(['main']);
    </script>
  </body>
</html>
