#left-col {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 300px;
}

#right-col {
    position: absolute;
    top: 10px;
    left: 350px;
}

.calHolder {
    float: left;
    margin-right: 20px;
}

.calendarCaption {
    text-align: center;
    margin-top: 10px;
    font-weight: 700;
}

#selectedDate {
    margin-top: 10px;
    font-weight: 700;
}


body {
    background-color: #F9F9F9;
    background-image: url('/static/img/aerolith/scribble_light.png');
    font-family: Helvetica,Arial,sans-serif;
    font-size: 16px;
    color: #444444;
}
