<html>
<head>
    <title>MCC</title>
    <script type="text/javascript" src="/static/js/aerolith/jquery-1.6.1.min.js"></script>
    <script type="text/javascript" src="/static/js/aerolith/jquery-ui-1.10.2.custom.min.js"></script>
    <script>
        $(function() {
            Date.prototype.addDays = function(days) {
                var dat = new Date(this.valueOf())
                dat.setDate(dat.getDate() + days);
                return dat;
            }

            var mainCal = $("#mainCalendar").datepicker({inline:true,
                onSelect: function(dateText, inst) {
                    calculateNextDates();
                }

            });

            var cals = {};
            for (var i = 1; i <= 3; i++) {
                cals[i] = $("#cal" + i).datepicker({inline:true, disabled:true});
            }

            var period = 28;

            $("#datetype").change(function() {
                calculateNextDates();
            });

            var dayMap = {'ovulation': 12,
                          'therapy': 24,
                          'menses': 28}

            function calculateNextDates() {
                var prevDate = mainCal.datepicker("getDate");
                var days = period;

                var numDays = dayMap[$("#datetype").val()];
                if ($("#datetype").val() != "menses") {
                    var multipleDates = true;
                }

                var beginDate = prevDate.addDays(numDays);
                for (var i = 0; i < 3; i++) {
                    var dateObj = beginDate.addDays(period * i);
                    var $calendar = $("#cal"+ (i+1));
                    var $calendarCaption = $("#cal" + (i+1) + "Caption");

                    if (multipleDates === true) {
                        // highlight three days
                        var maxDate = dateObj.addDays(2);
                        $calendar.datepicker("option", "minDate", dateObj);
                        $calendar.datepicker("option", "maxDate", maxDate);
                        $calendarCaption.html(dateObj.toLocaleDateString() + "<br/>through<br/>" +
                            maxDate.toLocaleDateString());
                    }
                    else {
                        // cancel the highlights
                        $calendar.datepicker("option", "minDate", null);
                        $calendar.datepicker("option", "maxDate", null);
                        $calendarCaption.html(dateObj.toLocaleDateString());
                    }
                    $calendar.datepicker("setDate", dateObj);
                }

                $("#titlebar").html("<center>" + $("#datetype option:selected").text() + "</center>");
                $("#selectedDate").html("You have selected: <br/>" + prevDate.toLocaleDateString());
            }

            calculateNextDates();

        });

    </script>
    <link href="/static/css/redmond/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css">
    <link href="/static/css/misctools/misctools.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div id="left-col">
    <h3>Step 1</h3>
    <P>Select first date of menses (Today's date is highlighted in yellow):</P>
    <div id="mainCalendar" class="calendar"></div>
    <div id="selectedDate"></div>
    <h3>Step 2</h3>
    <p>Select dates you would like to view</p>
    <P><select id="datetype"><option value="menses">Menses: day 1</option>
                <option value="ovulation">Baseline evaluation: days 13 through 15</option>
                <option value="therapy">Therapy and evaluation: days 25 through 27</option>
        </select></P>
    <P>The calendars on the right will display the calculations for a 28-day cycle.</P>
    </div>


    <div id="right-col">
        <h2 id="titlebar"></h2>
        <div id="cal1Holder" class="calHolder">
            <div id="cal1" class="calendar"></div>
            <div id="cal1Caption" class="calendarCaption"></div>
        </div>
        <div id="cal2Holder" class="calHolder">
            <div id="cal2" class="calendar"></div>
            <div id="cal2Caption" class="calendarCaption"></div>
        </div>
        <div id="cal3Holder" class="calHolder">
            <div id="cal3" class="calendar"></div>
            <div id="cal3Caption" class="calendarCaption"></div>
        </div>
        <div id="calInfo"></div>
    </div>
</body>
</html>
