{% load i18n %}
<div class="tab-pane" id="named-list">
  <div class="row">
    <div class="col-md-8">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="id_namedList" class="col-md-3 control-label">{% trans "List choice"%}</label>
          <div class="col-md-8">
            {{nlForm.namedList}}
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-3 col-md-2 col-sm-2 col-xs-4">
            <button type="button" class="formSubmitButton btn btn-success" id="namedListsSubmit">{% trans "Play!" %}</button>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2">{% trans "or" %}</div>
          <div class="col-md-2 col-sm-2 col-xs-4">
            <button type="button" class="formSubmitButton btn btn-info" id="namedListsFlashcard">{% trans "Flashcard" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>