{% load i18n %}
<div class="tab-pane" id="search">
  <div class="row">
    <div class="col-md-6">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="id_wordLength" class="col-md-4 control-label">{% trans "Word Length" %}</label>
          <div class="col-md-4">
            {{fwForm.wordLength}}
          </div>
        </div>
        <div class="form-group">
          <label for="id_probabilityMin" class="col-md-4 control-label">{% trans "Min Probability (at least 1)"%}</label>
          <div class="col-md-4">
            <input type="text" class="form-control" id="id_probabilityMin" name="probabilityMin">
          </div>
        </div>
        <div class="form-group">
          <label for="id_probabilityMax" class="col-md-4 control-label">{% trans "Max Probability" %}</label>
          <div class="col-md-4">
            <input type="text" class="form-control" id="id_probabilityMax" name="probabilityMax">
          </div>
        </div>

        <div class="form-group">
          <div class="col-md-offset-4 col-md-2 col-sm-2 col-xs-4">
            <button type="button" class="formSubmitButton btn btn-success" id="searchParamsSubmit">{% trans "Play!" %}</button>
          </div>
          <div class="col-md-1 col-sm-1 col-xs-2">or</div>
          <div class="col-md-2 col-sm-2 col-xs-6">
            <button type="button" class="formSubmitButton btn btn-info" id="searchParamsFlashcard">{% trans "Flashcard" %}</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>