{% extends "base.html" %}
{% load i18n %}
{% block title %}About Aerolith{% endblock %}

{% block content %}
<H3>{%trans "About"%}</H3>
<P>{% blocktrans %}Aerolith is a web app written by César Del Solar. Its main goal is to provide a fun and fast-paced way to learn words quickly. It is particularly popular among <a href="http://www.scrabbleplayers.org/" target="_blank">tournament Scrabble</a> players but you can also use it for Boggle, Words with Friends, or any other word game! We even have some people that just like anagramming for fun and have gotten freakishly good.{%endblocktrans%}</P>
<P>{%blocktrans%}The main program, Wordwalls, is quite simple. We present you with many challenges, once a day, where 50 scrambled words are shown to you and you must solve them as quickly as possible. You can also upload your own word lists, play some prepared lists of useful words, or search by probability.{%endblocktrans%}</P>
<P>{%blocktrans%}The following video shows you the basics and how to get started.{%endblocktrans%}</P>
<iframe width="560" height="315" src="//www.youtube.com/embed/I5lOgTCNj9s" frameborder="0" allowfullscreen></iframe>
<P>{%blocktrans%}Aerolith is an open-source project, licensed under the GPLv3. See <a href="https://github.com/domino14/webolith" target="_blank">https://github.com/domino14/webolith</a>.{% endblocktrans %}</P>
<H3>{% trans "About César"%}</H3>
{%blocktrans%}César likes programming, playing Scrabble, guitar, ukulele, running, and probably a few more things.{%endblocktrans%}

<H3>Privacy Policy</H3>
Click <a href="/privacy">here</a> to read our privacy policy.

<H3>Terms of Service</H3>
Click <a href="/tos">here</a> to read our terms of service.
{% endblock %}
