{% load i18n %}
{% load value_from_settings %}
{% value_from_settings USE_MX as USE_MX %}
{% value_from_settings USE_GA as USE_GA %}
{% value_from_settings USE_FB as USE_FB %}
{% value_from_settings USE_UV as USE_UV %}
{% value_from_settings DEBUG_JS as DEBUG_JS %}
<!DOCTYPE html>
<html lang="en">
{% get_current_language as LANGUAGE_CODE %}
<!-- Current language: {{ LANGUAGE_CODE }} -->
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="/static/favicon.ico" />
    <title>{% block title %}Aerolith{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Aerolith word study game for Scrabble, Boggle, Words With Friends, etc.">
    <meta name="author" content="Cesar Del Solar">

    <link href="/static/lib/bootstrap/css/bootstrap-cosmo.min.css" rel="stylesheet">
    <link href="/static/css/aerolith/aerolith.css" rel="stylesheet">
    {% block ss %}
    {% endblock %}

    {% block jquery_js %}
    <script type="text/javascript" src="/static/js/aerolith/jquery-1.11.0.min.js"></script>
    {% endblock %}

    {% if USE_GA %}
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-26099415-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
    {% endif %}
    {% if USE_MX %}

    <!-- start Mixpanel --><script type="text/javascript">(function(d,c){var a,b,g,e;a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src=("https:"===d.location.protocol?"https:":"http:")+'//api.mixpanel.com/site_media/js/api/mixpanel.2.js';b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b);c._i=[];c.init=function(a,d,f){var b=c;"undefined"!==typeof f?b=c[f]=[]:f="mixpanel";g="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config".split(" ");
    for(e=0;e<g.length;e++)(function(a){b[a]=function(){b.push([a].concat(Array.prototype.slice.call(arguments,0)))}})(g[e]);c._i.push([a,d,f])};window.mixpanel=c})(document,[]);
    mixpanel.init("4f8fd42d397696d3bdbe8d2b2d6607f5");
    mixpanel.identify("{{user}}");
    </script><!-- end Mixpanel -->
    {% else %}
    <script>
    window.mixpanel = {};
    window.mixpanel.track = function() {};
    window.mixpanel.name_tag = function() {};
    </script>
    {% endif %}

  </head>

  <body>
    {% block navbar %}
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Aerolith</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            {% if user.username == "" %}
            <li><a href="/accounts/login" class="navbarLink">{% trans "Log in" %}</a></li>
            {% else %}
            <li><a href="/accounts/profile/{{user}}" class="navbarLink">
                <span class="glyphicon glyphicon-wrench"></span> {{user}}</a>
            </li>
            <li><a href="/supporter" class="navbarLink">{% trans "Membership" %}</a></li>
            <li><a href="/accounts/logout" class="navbarLink">{% trans "Log out" %}</a></li>
            {% endif %}
            <li><a href="/about" class="navbarLink">{% trans "About" %}</a></li>
            <li><a href="/wordwalls" class="navbarLink">{% trans "Wordwalls" %}</a></li>
            <li><a href="/wordwalls/stats" class="navbarLink">{% trans "Stats" %}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="alert alert-warning" style="display: none;" id="devsite-alert">
      <p>Welcome to the test Aerolith site! A lot of things may not quite work here at various times, and this site may change or break at any time. Experimental features abound!</p>
      <p>Please let me know any feedback through our <a href="https://www.facebook.com/aerolith.org/" target="_blank">Facebook page</a>. Thank you so much!</p>
    </div>
    <script>

    if (location.hostname === 'dev.aerolith.org') {
      document.getElementById('devsite-alert').style.display = '';
    }

    </script>

    {% endblock navbar %}
    <div id="content_title">
    {% block content_title %}
    {% endblock %}
    </div>
    <div class="container">
    {% if show_maintenance %}
    <div class="alert alert-info" id="maintenance-schedule">
      <p>There is a maintenance period scheduled for {{info.maintenance_date}}. It
      will last approximately {{info.maintenance_duration}}.</p>
      <p>{{info.additional_maintenance_info}}</p>
      <p>During this time, the site will be offline. Please plan accordingly!</p>
    </div>
    {% endif %}
      {% block content %}
        <div class="row">
        {% if user.username == "" %}
        <p>{% trans "Welcome to Aerolith 2.0!" %}</p>
    <a href="{% url 'social:begin' 'facebook' %}"><img src="/static/img/aerolith/login_with_facebook.png"></a><br><br>
    <a href="{% url 'social:begin' 'google-oauth2' %}"><img src="/static/img/aerolith/login_with_google.png"></a><br><br>

        <p style="margin-top: 70px;">
        {% blocktrans %}Or <a href="accounts/register">register</a> with a username and password...{% endblocktrans %}
        </p>
        {% else %}
        {% trans "Welcome back" %}, {{user}}! {% trans "Here are some things you can do" %}: <BR><BR>
        <a href="wordwalls" class="btn btn-primary">{% trans "Play WordWalls" %}</a><BR>
        {% endif %}
        </div>
        {% if USE_FB %}
        <div class="row" style="margin-top: 25px;">
        <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fpages%2FAerolithorg%2F187993161284057&amp;width=300&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;border_color&amp;stream=false&amp;header=true&amp;appId=17369129469" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:300px; height:290px;" allowTransparency="true"></iframe>
        </div>
        {% endif %}
      {% endblock %}
    </div> <!-- /container -->


    {% if USE_UV %}
    <!-- UserVoice JavaScript SDK (only needed once on a page) -->
    <script>(function(){var uv=document.createElement('script');uv.type='text/javascript';uv.async=true;uv.src='//widget.uservoice.com/0JhqmCWLicTNtQfGLppEA.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(uv,s)})()</script>

    <!-- A tab to launch the Classic Widget -->
    <script>
    UserVoice = window.UserVoice || [];
    UserVoice.push(['showTab', 'classic_widget', {
      mode: 'full',
      primary_color: '#cc6d00',
      link_color: '#007dbf',
      default_mode: 'feedback',
      forum_id: 187535,
      tab_label: 'Feedback & Support',
      tab_color: '#cc6d00',
      tab_position: 'middle-right',
      tab_inverted: false
    }]);
    </script>
    {% endif %}
    <div class="push"></div>
    <div id="footer">
      <div class="container">
        <div id="copyright">&copy; 2007-{% now "Y" %} Cesarware. {% trans "All Rights Reserved." %}</div>
        <div id="mixpanel">
          <a href="https://mixpanel.com/f/partner"><img src="/static/img/aerolith/mixpanel_badge_light.png" alt="Mobile and Web Analytics" /></a>
        </div>
      </div>
    </div>
  </body>
<script>
mixpanel.name_tag("{{user}}");
</script>
</html>
