{% extends "base.html" %}
{% load i18n %}

{% block title %}Recover Facebook account{% endblock %}


{% block content_title %}<H3>How to recover Facebook account</H3>{%endblock%}

{% block content %}

<p>
    If you used to log in with Facebook, Facebook login has been disabled as of January,
    2024. Facebook's requirements to keep it working were too onerous for this little app.
</p>
<p>
    To recover your account, please send delsolar at gmail.com an email with "Aerolith account recovery"
    as the subject line.
    Put in as much info as you remember about your account: username, email associated with
    the account. If you would like to change your email for Aerolith (for example you
    no longer have access to your Facebook email), please put in your new email too.
    I will send you a password reset email.
</p>
{% endblock %}