{% extends "base.html" %}
{% load i18n %}
{% block title %}Become a supporter{% endblock %}

{% block content %}
<script src="https://js.stripe.com/v3/"></script>

{% if user.aerolithprofile.member %}
{% blocktrans with expiry=user.aerolithprofile.membershipExpiry %}
<strong>You are already a supporter - thank you! Your membership expires {{expiry}}</strong>
{% endblocktrans %}
<p>
Please manage <a href="/supporter/manage">auto-renewal settings here</a>.
</p>
<br />
{% endif %}

<P>
{% blocktrans %}
Becoming a supporter of Aerolith.org helps to pay for the server and incites the developer(s) to make more fun products! You will also get several benefits; this list will increase as we add more features:
{% endblocktrans %}</P>
    <ul>
        <li>{%blocktrans%}Remove limit for number of saved alphagrams among your saved lists (WordWalls game){%endblocktrans%}</li>
        {% comment %} <li>{%blocktrans%}Allow difficulty search for bingos in NWL18 lexicon. (Will be expanded to CSW19 lexicon in the coming months){%endblocktrans%}</li> {% endcomment %}
    </ul>

<P>
{%blocktrans%}The membership cost is <strong>$29.99 per year</strong>.{%endblocktrans%}</P>

{% include "card_form.html" with form_action="/accounts/membership/new/" submit_text="Submit Payment ($29.99)" %}

<P></P>

<P>
{% blocktrans %}
Click <a href="/">here</a> to return to homepage.</P>
{% endblocktrans %}

{% endblock %}

{% comment %} Aerolith 2.0: A web-based word game website
Copyright (C) 2011 Cesar Del Solar

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

To contact the author, please email delsolar at gmail dot com
{% endcomment %}
