{% extends "base.html" %}
{% load i18n %}
{% block title %}Become a supporter{% endblock %}

{% block content %}

{% if user.aerolithprofile.member %}
{% blocktrans with expiry=user.aerolithprofile.membershipExpiry %}
<strong>You are already a supporter - thank you! Your membership expires {{expiry}}.</strong>
{% endblocktrans %}
<BR><BR>

{% endif %}

<P>
{% blocktrans %}
Becoming a supporter of Aerolith.org helps to pay for the server and incites the developer(s) to make more fun products! You will also get several benefits; this list will increase as we add more features:
{% endblocktrans %}</P>
    <ul>
        <li>{%blocktrans%}Remove limit for number of saved alphagrams among your saved lists (WordWalls game){%endblocktrans%}</li>
        <li>{%blocktrans%}Remove limit for number of cards (WordVault){%endblocktrans%}</li>

    </ul>

<P>
{%blocktrans%}The membership cost is $49 per year.{%endblocktrans%}</P>

{% if user.aerolithprofile %}
<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick" />
    <input type="hidden" name="hosted_button_id" value="4PJCHZNXBF834" />
    <input type="hidden" name="currency_code" value="USD" />
    <input type="hidden" name="custom" value="{{ user.get_username }}" />
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" title="PayPal - The safer, easier way to pay online!" alt="Buy Now" />
  </form>
{% else %}
<P>Please log in with your Aerolith username to become a member.</P>
{% endif %}

<P>{% blocktrans %}Alternatively, you can contribute in another way. If you know how to code in Python and/or Javascript, you can clone my Aerolith repo from <a href="https://github.com/domino14/Webolith">Github</a> and contribute code! There are a lot of ideas/feature requests that wouldn't take too long to code, but there's so many that I may not be able to do them all in a reasonable timeframe. You can make the change, test it on your desktop, and then do a "Pull request" on Github, and I will push your changes into this server. I'll also give you a few months of membership depending on how tough the feature was to implement ;) {% endblocktrans %}</P>

<P>
{% blocktrans %}
Click <a href="/">here</a> to return to homepage.</P>
{% endblocktrans %}
{% endblock %}

{% comment %} Aerolith 2.0: A web-based word game website
Copyright (C) 2011 Cesar Del Solar

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

To contact the author, please email delsolar at gmail dot com
{% endcomment %}
