{% extends "base.html" %}
{% load i18n %}
{% block title %}Become a supporter{% endblock %}

{% block content %}
<script src="https://js.stripe.com/v3/"></script>

{% if user.aerolithprofile.member %}
{% blocktrans with expiry=user.aerolithprofile.membershipExpiry %}
<strong>You are already a supporter - thank you! Your membership expires {{expiry}}.</strong>
{% endblocktrans %}
<BR><BR>

{% endif %}

<P>
{% blocktrans %}
Becoming a supporter of Aerolith.org helps to pay for the server and incites the developer(s) to make more fun products! You will also get several benefits; this list will increase as we add more features:
{% endblocktrans %}</P>
    <ul>
        <li>{%blocktrans%}Remove limit for number of saved alphagrams among your saved lists (WordWalls game){%endblocktrans%}</li>
        <li>{%blocktrans%}Allow difficulty search for bingos in NWL18 lexicon. (Will be expanded to CSW19 lexicon in the coming months){%endblocktrans%}</li>
    </ul>

<P>
{%blocktrans%}The membership cost is $29.99 per year.{%endblocktrans%}</P>
<div class="row">
    <div class="col-md-6 col-sm-6">
        <form action="/accounts/membership/new/" method="post" id="payment-form">
            {% csrf_token %}
            <div class="form-row form-group">
                <label for="card-element">
                    Credit or debit card
                </label>
                <div id="card-element" class="form-control">
                    <!-- Stripe element inserted here by script above. -->
                </div>
                <div id="card-errors" role="alert"></div>
            </div>
            <button type="submit" class="btn btn-default">Submit Payment</button>
        </form>

        <small>Payments handled completely by <a href="https://www.stripe.com">Stripe</a></small>
    </div>
</div>
<P></P>

<P>
{% blocktrans %}
Click <a href="/">here</a> to return to homepage.</P>
{% endblocktrans %}

<script type="text/javascript">
    const stripe = Stripe('{{ stripe_key }}');
    const elements = stripe.elements();

    const card = elements.create('card');
    card.mount('#card-element');

    card.addEventListener('change', function(event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            if (result.error) {
                // Inform the customer that there was an error.
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server.
                stripeTokenHandler(result.token);
            }
        });
    });

    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripe_token');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }
</script>


{% endblock %}

{% comment %} Aerolith 2.0: A web-based word game website
Copyright (C) 2011 Cesar Del Solar

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.

To contact the author, please email delsolar at gmail dot com
{% endcomment %}
