# This file is used for tests in CI. Note the paths are relative to the
# root directory. This docker-compose file gets copied to the root directory
# during CI runs.
version: "3"

services:
  pgdb:
    image: postgres:15
    environment:
      POSTGRES_DB: djaerolith
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
    expose:
      - 5432
    ports:
      - 5432:5432
    networks:
      aeronet:

  app:
    environment:
      - PGSQL_DB_NAME=djaerolith
      - PGSQL_USER=postgres
      - PGSQL_HOST=pgdb
      - PGSQL_PASSWORD=pass
      - INTERCOM_APP_SECRET_KEY=abcdefghijklmnopqrstuvwxyz
      # Just some random secret key
      - SECRET_KEY=csw*nc9gznwuz)(w9&u#h_b2dp1%hzf_w#)%yrzwas%+v8ck_q
    build: .
    working_dir: /opt/webolith/djAerolith
    depends_on:
      pgdb:
        condition: service_healthy
      word_db_server:
        condition: service_healthy
    links:
      - pgdb
    command: python manage.py runserver 0.0.0.0:8000
    networks:
      - aeronet

  word_db_server:
    image: ghcr.io/domino14/word-db-server:latest
    environment:
      LEXICON_PATH: /opt/lexica
      LOG_LEVEL: debug
      DB_MIGRATIONS_PATH: file:///opt/db/migrations
      DB_CONN_URI: postgresql://postgres:pass@pgdb:5432/djaerolith?sslmode=disable
    volumes:
      - ${HOME}/word-game-lexica:/opt/lexica
    depends_on:
      pgdb:
        condition: service_healthy
    healthcheck:
      test: ["CMD-SHELL", "nc -z localhost 8180 || exit 1"]
      interval: 5s
      timeout: 5s
      retries: 10
    expose:
      - 8180
    ports:
      - 8180:8180
    networks:
      - aeronet

networks:
  aeronet:
    driver: bridge
